# Dependencies
node_modules/

# next.js
.next/
out/

.env
.env.local
.insforge/

# InsForge & AI agent skills
.insforge
.agent
.agents
.augment
.claude
.cline
.github/copilot*
.kilocode
.qoder
.qwen
.roo
.trae
.windsurf
